<!DOCTYPE html>
<html>
<head>
	<title>User Login</title>
	
</head>
<body>
  <center>
     <h1>A&S Express<br></h1>
  </center> 
		<center>
          <table border="100"  width="550px">
              <tr>
                <td>
                <fieldset>
                    <legend><h2>User Login</h2></legend>
						<form method="post">
                        <table>
							<tr>
								<td>UserName : </td>
								<td><input type="text" name="username"></td>
							</tr>
							<tr>
								<td>Password : </td>
								<td><input type="password" name="password"></td>
							</tr>
							<tr>
							</tr>					
						</table>
						<br><center>
							<input type="submit" name="submit"style="height: 35px; width:60px" value="Login">&ensp;
							<br><br><br>
							New User !!
							<a href= "/reg">Registration</a>
							</center>
						</form>
					</fieldset>
				</center>
			</form>
		</body>
	</html>







