<!DOCTYPE html>
<html>
<head>
	<title>Admin Login</title>
</head>
<body>
  <center>
     <h1>A&S Travel Guide<br></h1>
  </center> 
		<center>
          <table border="100" border="100"  width="550px">
              <tr>
                <td>
                <fieldset>
                    <legend><h2>Admin Login</h2></legend>
						<form method="post">
                        <table>
							<tr>
								<td>AdminName : </td>
								<td><input type="text" name="adminname"></td>
							</tr>
							<tr>
								<td>Password : </td>
								<td><input type="password" name="password"></td>
							</tr>
							<tr>
								<td></td>
							</tr>
						</table>
						<br><center>
							<input type="submit" name="submit"style="height: 30px; width:60px" value="Login">&ensp;
							<br><br><br>
							New Admin !!
							<a href= "/adminreg">Registration</a>
							</center>
						</form>
					</fieldset>
				</center>
	
		
			</form>
		</body>
	</html>