<!DOCTYPE html>
<html>
<head>
  <title>A&S Express</title>
</head>
<body>
  <center>
     <h1>A&S Express <br></h1>
  </center>   
  <center>
    <table border="100">
      <tr>
        <td>
          <fieldset>
           <legend><h2>Welcome To A&S Ticket Booking Center</h2></legend>
            <form method="post">
            <center>
            <table>
              <tr>
                <td>
                  <center><h1>Welcome <%=username%></h1></center>
                  <center><h3>Volvo (ac)</h3></center>
                  <form method="post">
                  <center><input type="submit" name="submit"style="height: 40px" value="Get bus Details"></center>
                </td>
              </tr>
            </table>
            </center>
          </fieldset>
        </td>
      </tr>
    </body>
</html>