<!DOCTYPE html>
<html>
<head>
  <title>A&S Express</title>
</head>
<body>
  <center>
     <h1>A&S Express<br></h1>
  </center>   
  <center>
    <table border="100">
      <tr>
        <td>
          <fieldset>
           <legend><h2>Please Fill This Information</h2></legend>
            <form method="post">
            <center>
            <table>
              <tr>
				<tr>
					<td>Name :</td>
					<td><input type="text" placeholder="Name" name="name"></td>
				</tr>
				<tr>
					<td>Phone No :</td>
					<td><input type="text" placeholder="Phone" name="phone"></td>
				</tr>
				<tr>
					<td>Email Id :</td>
					<td><input type="text" placeholder="optional" name="email"></td>
				</tr>
				<tr>
					<td></td>
					<td><br><input type="submit" name="submit"style="height: 30px"  value="Submit"></td>
				</tr>
              </tr>
            </table>
            </center>
          </fieldset>
        </td>
      </tr>
    </body>
</html>