<!DOCTYPE html>
<html>
<head>
  <title>A&S Express</title>
</head>
<body>
<center>
<h1>A&S Express<br></h1>
</center>
<center>
<table border="100">
    <tr>
        <td>
        <fieldset>
        <legend><h2>Search Avaialable Panel</h2></legend>
		<form method="post">
        <table>
            <tr>
                <td>
                <h3>Sourcec :</h3>
                  <select name="start" style="width: 200px;height: 40px">
                    <option value="Dhaka">Dhaka</option>
                    <option value="Bogura">Bogura</option>
                    <option value="Khulna">Khulna</option>
                    <option value="Rajshahi">Rajshahi</option>
                  </select>
                  </td>
                  <td><br><br>
                &ensp; To &ensp;
                </td>
                <td>
                <h3>Destination :</h3>
                  <select name="end" style="width: 200px;height: 40px">
                    <option value="Dhaka">Dhaka</option>
                    <option value="Bogura">Bogura</option>
                    <option value="Khulna">Khulna</option>
                    <option value="Rajshahi">Rajshahi</option>
                  </select>
                </td>
              </tr>
              </table>
              
                  <br><br><br><center>
				  <input type="submit" name="submit"style="height: 40px; width:90px" value="Search">&ensp;
				  </center>
                  </form>

              </fieldset>
            </td>
          </tr>
          </table>
        </center>
    </body>
    </html>

