<!DOCTYPE html>
<html>
<head>
  <title>A&S Express</title>
</head>
<body>
  <center>
     <h1>A&S Express<br></h1>
  </center>   
  <center>
    <table border="100">
      <tr>
        <td>
          <fieldset>
           <legend><h2>Choose Your Sit Here</h2></legend>
            <form method="post">
            <center>
            <table >
		           <tr>
					<td><input type="submit" name="sii" value="1"style="height: 50px; width:50px"></td>
					<td><input type="submit" name="sii" value="2"style="height: 50px; width:50px"></td>
					<td><input type="submit" name="sii" value="3"style="height: 50px; width:50px"></td>
					<td><input type="submit" name="sii" value="4"style="height: 50px; width:50px"></td>
					<td><input type="submit" name="sii" value="5"style="height: 50px; width:50px"></td>
					<td><input type="submit" name="sii" value="6"style="height: 50px; width:50px"></td>
					<td><input type="submit" name="sii" value="7"style="height: 50px; width:50px"></td>
					<td><input type="submit" name="sii" value="8"style="height: 50px; width:50px"></td>
				</tr>
				<tr>
					<td><input type="submit" name="sii" value="9"style="height: 50px; width:50px"></td>
					<td><input type="submit" name="sii" value="10"style="height: 50px; width:50px"></td>
					<td><input type="submit" name="sii" value="11"style="height: 50px; width:50px"></td>
					<td><input type="submit" name="sii" value="12"style="height: 50px; width:50px"></td>
					<td><input type="submit" name="sii" value="13"style="height: 50px; width:50px"></td>
					<td><input type="submit" name="sii" value="14"style="height: 50px; width:50px"></td>
					<td><input type="submit" name="sii" value="15"style="height: 50px; width:50px"></td>
					<td><input type="submit" name="sii" value="16"style="height: 50px; width:50px"></td>
				</tr>
		              	<tr>
		            <td><br><br><input type="submit" name="sii" value="17"style="height: 50px; width:50px"></td>
					<td><br><br><input type="submit" name="sii" value="18"style="height: 50px; width:50px"></td>
					<td><br><br><input type="submit" name="sii" value="19"style="height: 50px; width:50px"></td>
					<td><br><br><input type="submit" name="sii" value="20"style="height: 50px; width:50px"></td>
					<td><br><br><input type="submit" name="sii" value="21"style="height: 50px; width:50px"></td>
					<td><br><br><input type="submit" name="sii" value="22"style="height: 50px; width:50px"></td>
					<td><br><br><input type="submit" name="sii" value="23"style="height: 50px; width:50px"></td>
					<td><br><br><input type="submit" name="sii" value="24"style="height: 50px; width:50px"></td>
              	</tr>
            </table>
            </center>
          </fieldset>
        </td>
      </tr>
    </body>
</html>