<!DOCTYPE html>
<html>
<head>
  <title>A&S Express</title>
</head>
<body>
      <center>
          <br><h1>A&S Express<br></h1><br>
      </center>   

  <form method="post">
      <center>
          <table border="100">
              <tr>
                <td>
                <fieldset>
                <legend><h2>User Registration</h2></legend>
				<table width="380px">
					<tr>
						<td>UserName : </td>
						<td><input type="text" name="username"></td>
					</tr>
					<tr>
						<td>Password : </td>
						<td><input type="text" name="password"></td>
					</tr>
					<tr>
						<td>Confirmpassword : </td>
						<td><input type="text" name="confirmpassword"></td>
					</tr>
					<tr>
						<td>Email : </td>
						<td><input type="text" name="email"></td>
					</tr>
					<tr>
						<td>Gender : </td>
						<td><input type="radio" name="gender" value="male">Male
						<input type="radio" name="gender" value="female">Female 
						</td>
					</tr>
					</center>
              
				</table>					
			<center><br><input type="submit" name="submit" style="color:blue;" value="Register"><br/><br/>
			</table>
		</center>
  </form>
  
</body>
</html>
